{
 :paths ["src"]
 :deps
 {
   org.clojure/clojure      {:mvn/version "1.11.1"}
   aysylu/loom              {:mvn/version "1.0.2"}
   net.mikera/core.matrix   {:mvn/version "0.63.0"}
   net.mikera/vectorz-clj   {:mvn/version "0.48.0" :provided true}
 }
 :aliases
  {
    :test
    {
     :extra-paths ["test"]
    }
  }
 }